<!DOCTYPE html>
<html>
  <head>
    <title>Cost to Drive</title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script language="javascript" src="js/bootstrap.bundle.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- Favicon -->
    <link rel="icon" href="/images/emoji-car-w10-32x32.png" type="image/x-icon">
  </head>
  <body id="ctd-body">
    <div id="div-test-container" class="container-fluid h-100 ctd-container">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Make -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Make:</p>
                </div>

                <div class="col-6">
                    <select id="select-make" class="form-select ctd-make" onchange="makeChanged(this)">
                        <option value="" selected>Select a Make</option>
                    </select>
                </div> 
            </div>

            <!-- Model -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Model:</p>
                </div>

                <div class="col-6">
                    <select id="select-model" class="form-select ctd-model" onchange="modelChanged(this)" style="font-family: 'Rubik';">
                        <option value="" selected>Select a Model</option>
                    </select>
                </div> 
            </div>

            <!-- Year -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Year:</p>
                </div>

                <div class="col-6">
                    <select id="select-year" class="form-select ctd-year" onchange="yearChanged(this)">
                        <option value="" selected>Select a Year</option>
                    </select>
                </div>
            </div>

            <!-- Fuel Type -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Fuel Type:</p>
                </div>

                <div class="col-6">
                    <select id="select-fuel-type" class="form-select ctd-fuel-type" onchange="fuelTypeChanged(this)">
                        <option value="" selected>Select a Fuel Type</option>
                    </select>
                </div>
            </div>

            <!-- Engine Size -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Engine Size:</p>
                </div>

                <div class="col-6">
                    <select id="select-engine-size" class="form-select ctd-engine-size" onchange="engineSizeChanged(this)">
                        <option value="" selected>Select an Engine Size</option>
                    </select>
                </div>
            </div>

            <!-- Driving Style Slider -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-1">
                    <img src="/images/emoji-cityscape-w10.png" class="float-end" width="50"/>
                </div>

                <div class="col-6 my-auto p-0">
                    <input id="input-driving-style" min="0" max="100" step="1" value="50" class="form-range w-100 calc-cost" type="range"/>
                </div>

                <div class="col-3 my-auto p-1">
                    <img src="/images/emoji-motorway-w10.png" class="float-start" width="50"/>
                </div>
            </div>

            <!-- Fuel Economy -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Fuel Economy:</p>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-7 pe-0">
                            <input type="text" id="input-fuel-eco" class="form-control w-100 numeric-2 calc-cost"/>
                        </div>

                        <div class="col-5 ps-0">
                            <select id="select-fuel-eco-unit" class="form-select calc-cost">
                                <option value="kmpl">KM/L</option>
                                <option value="lp100km">L/100KM</option>
                                <option value="mpguk">MPG (UK)</option>
                                <option value="mpgus">MPG (US)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Driving Distance -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Distance:</p>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-8 pe-0">
                            <input type="text" id="input-distance" value="1000" class="form-control w-100 numeric-2 calc-cost"/>
                        </div>
                        
                        <div class="col-4 ps-0">
                            <select id="select-distance-unit" class="form-select calc-cost">
                                <option value="km">KM</option>
                                <option value="m">M</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Get Fuel Price -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Country:</p>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-8 pe-0">
                            <select id="select-country" class="form-select">
                                <option value="IRL">Ireland</option>
                                <option value="GBP">United Kingdom</option>
                            </select>
                        </div>
                        
                        <div class="col-4 ps-0">
                            <button id="button-get-fuel-price" type="button" class="btn btn-primary text-end my-auto">Get Price</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cost of Fuel -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Fuel Price:</p>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 pe-0">
                            <select id="select-price-currency" class="form-select currency-selector">
                                <option value="EUR">€</option>
                                <option value="GBP">£</option>
                                <option value="USD">$</option>
                                <option value="CAD">C$</option>
                            </select>
                        </div>

                        <div class="col-9 ps-0">
                            <input type="text" id="input-fuel-price" class="form-control w-100 numeric-2 calc-cost currency-field" value="2.00"/>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="m-3 col-9">

            <!-- Total Cost -->
            <div class="justify-content-center h-100 col-9 row m-1">
                <div class="col-3 my-auto p-0">
                    <p class="text-end h4 my-auto">Cost to Drive:</p>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-3 pe-0">
                            <select id="select-total-currency" class="form-select currency-selector">
                                <option value="EUR">€</option>
                                <option value="GBP">£</option>
                                <option value="USD">$</option>
                                <option value="CAD">C$</option>
                            </select>
                        </div>

                        <div class="col-9 ps-0">
                            <input type="text" id="input-total-cost" class="form-control w-100 numeric-2 currency-field"/>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
  </body>

  <script src="/javascripts/index.js"></script>

</html>
