body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Rubik';
  font: 14px;
}

a {
  color: #00B7FF;
}

.rb {
    border: 1px solid red;
}

.card-body {
    min-height: 300px;
    min-width: 550px;
    width: 550px;
    max-width: 550px;
    margin-right: 5px;
}

#input-driving-style::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('/images/emoji-car-w10-32x32.png');
  cursor: pointer;
}

#input-driving-style::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  background: url('/images/emoji-car-w10-32x32.png');
  cursor: pointer;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

.numeric-2 {
    text-align: end;
}

/* Classes used for navigation */
.ctd-container { }

.ctd-make { }

.ctd-model { }

.ctd-year { }

.ctd-fuel-type { }

.ctd-engine-size { }

.ctd-driving-style { }

.ctd-fuel-eco { }

.ctd-fuel-eco-unit { }

.ctd-distance { }

.ctd-distance-unit { }

.ctd-country { }

.ctd-get-fuel-price {
    font-size: smaller;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.ctd-price-currency { }

.ctd-fuel-price { }

.ctd-total-cost { }

#btn-add-compare {
    font-size: smaller;
    display: grid;
    place-items: center;
    vertical-align: middle;
}